.hero-unit
  h1 Add a Product!
  form(name="newProduct")
    input 
    button Add
  ul
      li Jade
      li(ng-repeat="thing in awesomeThings") {{thing}}
  p installed.
  h3 Enjoy coding! - Yeoman
  p {{algo}}
