.hero-unit
  h1 Add a Product!
  form(name="newProduct")
    input 
    button Add
  ul
      li(ng-repeat="product in getProduct") 
        pre {{ product }}
        p Nombre: {{product.name}}
        p Descripcion: {{product.description}}
        p Precio: {{product.price}}     
  

  pre {{getProduct}}
 