div(class="row-fluid heading")
  .span12 
    h1 Comparandeando
div(class="row-fluid subheading")
  .span12.desc 
    p.lead Compra, vende, intercambia
      h6 Sin intermediarios ni comisiones
div(class="row-fluid")
  .span4
    p.desc Descubre todo lo que te ofrece tu mercado local
    a(href="#/places", class="btn btn-block btn-large btn-warning") Lugares
  .span4
    p.desc Explora la comunidad de usuarios
    a(href="#/users", class="btn btn-success btn-block btn-large") Usuarios
  .span4
    p.desc Increibles oportunidades de compra y venta.  
    a(href="#/products", class="btn btn-primary btn-large btn-block") Productos
