.row-fluid
    legend
        h2 Productos
.row-fluid
    .span10
        p.muted
            |Cantidad de productos: {{products.length}}
    .span2
        br
        a(class="btn-success btn-large", href='#/addProduct')
            i(class="icon-plus icon-white")
            |&nbsp; Producto
br
//Busqueda simple
.row-fluid
    .input-prepend(ng-hide='avanzada')
        span.add-on
            i.icon-search
        input(type="text",class="input-xlarge",ng-model="query", placeholder="Buscar" )

br
.row-fluid
    table#tableProducts(class="table table-hover", cellpaddin="0", cellspacing="0")
        thead
            th
                strong Producto
            th
                strong Descripcion
            th
                strong Locacion
            th
                strong Vendedor
            th
                strong Precio
            th
                strong Disponibles
        tbody
            tr(ng-repeat='product in products | filter:query')
                td {{product.name}}
                td {{product.description}}
                td {{product.location}}
                td {{product.user}}
                td {{product.price | currency}}
                td {{product.stock}}
                td
                    a(class="btn btn-warning", href="#/editProduct/{{product._id}}")
                        i(class="icon-pencil icon-white")
                td
                    a(class="btn btn-danger", ng-mouseup='{{deleteProduct(product._id)}}', ng-init='')
                        i(class="icon-remove-circle icon-white")
  