
<div class="row-fluid heading">
  <div class="span12"> 
    <h1>Comparandeando</h1>
  </div>
</div>
<div class="row-fluid subheading">
  <div class="span12 desc"> 
    <p class="lead">Compra, vende, intercambia
      <h6>Sin intermediarios ni comisiones</h6>
    </p>
  </div>
</div>
<div class="row-fluid">
  <div class="span4">
    <p class="desc">Descubre todo lo que te ofrece tu mercado local</p><a href="#/places" class="btn btn-block btn-large btn-warning">Lugares</a>
  </div>
  <div class="span4">
    <p class="desc">Explora la comunidad de usuarios</p><a href="#/users" class="btn btn-success btn-block btn-large">Usuarios</a>
  </div>
  <div class="span4">
    <p class="desc">Increibles oportunidades de compra y venta.  </p><a href="#/products" class="btn btn-primary btn-large btn-block">Productos</a>
  </div>
</div>