
<div class="row-fluid heading">
  <div class="span12"> 
    <h1>Comparandeando</h1>
  </div>
</div>
<div class="row-fluid subheading">
  <div class="span12"> 
    <p class="lead">Compra, vende, intercambia, sin intermediarios ni comisiones</p>
  </div>
</div>
<div class="row-fluid section1">
  <div class="span5 offset1"><a href="#/places" class="btn btn-block btn-large btn-warning">Lugares</a></div>
  <div class="span5"><a href="#/users" class="btn btn-success btn-block btn-large">Usuarios</a></div>
</div>
<div class="row-fluid section2">
  <div class="span6 offset3"><a href="#/products" class="btn btn-primary btn-large btn-block">Productos</a></div>
</div>